html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0em;
}

header {
  background-color: #e7001d;
  margin: 0;
  padding: 0;
}

.fig-medallion {
  margin: 0 auto;
  width: 15em;

}

h1 {
  color: white;
  margin: 0;
  font-size: 2em;
  position: absolute;
  top: 3rem;
  left: 0rem;
  text-align: center;
  width: 100%;
}

.char {
  font-size: 5rem;
  display: block;
  text-align: center;
}

nav {
  text-align: center;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border: 1px solid #963e30;
  float: left;
  width:50%;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: black;
  padding: 0.5rem;
  display: block;
}

nav a:hover {
  background-color: #a93f35;
}

.bannerwrap {
  position: relative;
}

.banner {
  width: 100%;
  margin: 0;
  display: block;
}

h2 {
  color: white;
  position: absolute;
  bottom: 1em;
  font-style: italic;
  text-align: center;
  width: 100%;
}

p {
  padding: 1em;
  margin: 0;
}

.d {
  background-color: #e4c22a;
}

.dragon {
  padding: 1em;
  width: 100%;
  text-align: center;
}

.dragon-symbol {
  width: 50%;
  float: left;
}

.img-dragon {
  width: 50%;
  float: right;
}
